appbar {
  position: fixed;
  z-index: 9999;
  top: 0 !important;
  left: -2rem;
  width:100%;
  padding: 10rem;
  border-bottom: 1px solid #eaeaea;
  background: #fff;
}
appbar h1 {
  margin-left: 10rem;
  float: left;
  text-align: center;
  font: 16rem normal 'Dosis', sans-serif;
  text-align:center;
}
#notifications {
  float:left;
}

#broadcast {
  float: right;
}
