drawers {
  background: #f1f1f1;
}
.box-effect{
  position: relative;
  background: #fafafa;
  border: 1rem solid #eee;
}
.box-effect:after {
  z-index: -1;
  position: absolute;
  content: "";
  height: 1rem;
  bottom: 15rem;
  right: 16rem;
  left: auto;
  width: 45%;
  top: 65%;
  max-width: 300rem;
  -webkit-box-shadow: 0 15rem 10rem #000;
  box-shadow: 15rem 13rem 7rem #000;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
}
