.appCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fafafa;
  margin-top: -40rem;
  padding-top: 80rem;
}

.contentAreaCurrent {
  position: absolute;
  z-index: 100;
  display: block;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding-top: 0;
  opacity: 1;
  transform: scale(1.0,1.0);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-delay: 0.66s;
  transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
}

.contentAreaQueueForward {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.6,0.6);
}

.contentAreaQueueBackward {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.06,1.06);
}

.contentAreaBackOut {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  transform: scale(0.8,0.8);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
}

.contentAreaForwardOut {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  transform: scale(1.06,1.06);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
  -webkit-transform: scale(1.06,1.06);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.4s, 0.66s;
  -webkit-transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
}

.contentAreaOffScreen {
  position: absolute;
  z-index: -1;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0.0;
  transform: scale(1.06,1.06);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
  -webkit-transform: scale(1.06,1.06);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.4s, 0.66s;
  -webkit-transition-timing-function: cubic-bezier(0.16,1,0.29,0.99);
}

.contentAreaModalUp {
  position: fixed;
  z-index: 200;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: all 0.5s ease-out;
}

.contentAreaModalDown {
  position: fixed;
  z-index: 200;
  top: 0rem;
  width: 100%;
  height: 100%;
  margin-top: -40rem;
  padding-top: 40rem;
  background: #fff;
  transition: all 0.5s ease-out;
}

