.appBar {
  position: fixed;
  bottom: 0rem;
  z-index: 100;
  width: 100%;
  height: 40rem;
  background: #fff;
  box-shadow: 0rem 0rem 3rem 0rem rgba(0, 0, 0, 0.15);
}

.appBarBackground {
  position: absolute;
  width: 100%;
  height: 100%;
}

.appBarButton {
  position: absolute;
  display: block;
  height: 30rem;
  width: 30rem;
}

.appBarButton .image {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 30rem;
  width: 30rem;
}

.appBarButtonContainer {
  position: absolute;
  height: 100%;
  width: 100%;
}
