.gesturebar {
  padding: 10rem;
  border-top: 1rem solid #eaeaea;
  border-bottom: 1rem solid #eaeaea;
}
.gesturebar .vote {
  display: inline;
  float: left;
}
.gesturebar .vote button:first-child {
  margin-right: 10rem;
}
.gesturebar button.viewComment {
  float: right;
}
