.gesturebar {
  padding: 10rem;
}
.gesturebar .vote {
  display: inline;
  float: left;
}
.gesturebar .vote button:first-child {
  margin-right: 10rem;
}
.gesturebar button.viewComment {
  float: right;
}
