.gesturebar {
  padding: 10rem;
  border-top: 1rem solid #eaeaea;
  border-bottom: 1rem solid #666;
}
.gesturebar .vote {
  display: inline;
  float: left;
}
.gesturebar .vote button:first-child {
  margin-right: 10rem;
}
.gesturebar button.viewComment {
  float: right;
}

.vote input[type='checkbox'] {
  opacity: 0;
}

.vote input[type='checkbox'].upvote + label {
  background: url(/public/images/appbar.thumbs.sprite2.png) no-repeat center;
  background-size: 600%;
  background-position: -53rem;
  height: 32rem;
  width: 32rem;
  display: inline-block;
  float: left;
}

button.viewComment {
  background: url("/public/images/comments-sprite.png") no-repeat;
  background-size: cover;
  background-position-x: 0;
  padding: 16rem;
}

button.viewComment:hover {
  background-position-x: -32rem;
}

button.upvote{
  background: url(/public/images/appbar.thumbs.up.png) no-repeat center;
  background-size: cover;
}

.vote input[type='checkbox'].downvote + label {
  background: url(/public/images/appbar.thumbs.sprite2.png) no-repeat center;
  background-size: 600%;
  background-position: 6rem;
  height: 32rem;
  width: 32rem;
  display: inline-block;
  float: left;
  margin-right: 10rem;
}

.vote input[type='checkbox'].upvote:checked + label {
  background-position: -165rem;
}

.vote input[type='checkbox'].downvote:checked + label {
  background-position: -106rem;
}

button.comments, button.comment {
  float: right;
}
