nav[id^="pagination"] {
  padding: 10rem;
  text-align: center
}

nav[id^="pagination"] ul li {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  background: #eee;
  margin: 0 2rem;
  cursor: pointer;
  font: 14rem normal 'Dosis', sans-serif;
  text-align: center;
}

nav[id^="pagination"] ul li.on{
  background-color: #6b737f;
  background-image: linear-gradient(top,#eee,#f1f1f1);
}
