#postModal {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0 25%;
  background: #333;
}

#controller{
	width: 100%;
}

#postModal input, #postModal textarea{
	padding: 10rem;
	outline: none;
	border: none;
}

#postModal input{
	border-bottom: 1rem dotted #666;
	background: none;
	color: #ccc;
	font-size: 28rem;
	width: 100%;
}

#postModal textarea{
	width: 100%;
	background: none;
	color: #ef8e4d;
	resize: none;
	height: 150rem;
  font: 24rem normal 'Dosis', sans-serif;
}

#postModal button{
	font-size: 18rem;
}

#postModal button:disabled{
	color:#333
}

#postModal button{
	background: none;
	color: #fff;
}

@media (max-width: 600px) {
	#postModal textarea{
		font: 18rem;
	}
}
