#feedDrawer .missedConnection:first-child {
  padding-top: 20rem;
}

#feedDrawer .missedConnection {
  margin: 0 auto;
  margin-bottom: 20rem;
  padding-top: 10rem;
  width: 100%;
  overflow: hidden;
}

#postDrawer {
  margin: 20rem auto;
  width: 100%;
  overflow: hidden;
}

#feedDrawer article {

}

#postDrawer article {
  animation-duration: 1s, 2.2s;
  animation-name: slidein, fadein;
}

@keyframes fadein {
  from {
      opacity: 0;
      visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeout {
  from {
      opacity: 0;
      visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slidein {
  from {
      margin-right: -102%;
  }

  to {
    margin-right: 0%;
  }
}

@keyframes slideout {
  from {
    right: 0%;
  }

  to {
    right: -102%;
  }
}

.post {
  position: relative;
  overflow: hidden;
  position: relative;
  // border-top: 1rem solid #f3f3f3;
  /*font-smoothing: subpixel-antialiased;*/
  transform: translate3d(0,0,0);
}

h1 {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.post section p {
  padding: 20rem;
  font-family: 'Dosis', sans-serif;
  font-size: 16rem;
  line-height: 24rem;
}

.post h2 {
  margin-bottom: 10rem;
  font-family: 'Dosis', sans-serif;
  font-size: 24rem;
  font-weight: bold;
  color: #6b737f;
  text-align: center;
}


.post .post-meta {
  margin-bottom: 10rem;
  color:#c00;
  text-align: center;
  text-transform: uppercase;
}

.post-wrap {
  position: relative;
  overflow: hidden;
}
.post-wrap > li {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 10rem;
  color: #4b515b;
  font-family: 'Lato', sans-serif;
  font-size: 16rem;
  line-height: 24rem;
  text-align: center;
}
.post-wrap > li p {
  margin-bottom: 10rem;
  font-size: 16rem;
}

.post .comments {
  background: #444;
  position: relative;
  font-size: 18rem;
  max-height: 0;
  transition: all ease-out 0.5s;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.post .comments.active{
  max-height: 800rem;
  overflow: scroll;
}

.post .comments ul>li>div{
  border-bottom: 1px solid #777;
  padding: 10rem;
  color: #eee;
  background: #555;
}

.post .comments  ul>li>div>h5{
  font-weight: bold;
  font-size: 12rem;
  line-height: 14rem;
  color: #ccc;
  text-transform: uppercase;
}

.post .comments ul>li>div>p{
  font-family: 'Lato', sans-serif;
  font-size: 14rem;
  line-height: 16rem;
}

.comment-box {

}

.comment-box label {
  color: #666;
}

.comment-box textarea {
  background: #333;
  margin: 0 auto;
  padding: 10rem;
  width: 100%;
  height: 80rem;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 16rem;
  line-height: 24rem;
  border-top: 1px solid #ccc;
  resize: none;
  color: #eee;
}

.comment-box button.submit-comment {
  position: relative;
  font-size: 16rem;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  background: #c00;
  width: 150rem;
  left: 50%;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: -75rem;
}



.tempname{
  font-size: 12rem;
  margin-left: 10rem;
}
