#utilityBar {
  position: absolute;
  z-index: 300;
  padding-top: 5rem;
  width:100%;
  height: 45rem;
  border-bottom: 1rem solid #eaeaea;
  background: #111;
  text-align: center;
}

#utilityBar h1 {
  margin-left: 10rem;
  float: left;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  font-size: 16rem;
  line-height: 24rem;
  text-align:center;
}

.utilityBarDrawerButton {
  position: absolute;
  display: block;
  height: 30rem;
  width: 30rem;
}

.utilityBarDrawerButton .image {
  position:absolute;
  top: 5rem;
  left: 5rem;
  width: 30rem;
  height: 30rem;
}

.utilityBar .button {
  position: absolute;
  width: 50rem;
  height: 20rem;
  font-size: 18rem;
}

.utilityBar .buttonClicked {
  position:absolute;
  display:block-inline;
  height: 20rem;
  font-size: 18rem;
}

#utilityBar .logo img{
  max-height:40rem;
}
