<div id="controller" style="background: white; border:10rem solid #aaa; margin:40px; padding:40px; min-height: 500rem; ">
  <h1>POST CONSOLE</h1>
  <div id="post-display"></div>
    <div id="container"></div>
    <br>
    <form>
      <label>Submit</label>
      <input id="title-out" type="text" placeholder="title">
      <br>
      <textarea id="message-out"></textarea>
      <button id="submit-post" type="button" value="send-post">Post</button>
    </form>
</div>

<script>



</script>
