<article class="missedConnection line">
  <h2 class="title line">{{ title }}</h2>
  <section id="post-1" class="post line">
    <ul class="post-wrap line">
      <li>
        <p>{{ post-body 1 }}</p>
      </li>
      <li>
        <p>{{ post-body 2 }}</p>
      </li>
      <li>
        <p>{{ post-body 3 }}</p>
      </li>
      <li>
        <p>{{ post-body 4 }}</p>
      </li>
      <li>
        <p>{{ post-body 5 }}</p>
      </li>
      <li>
        <p>{{ post-body 6 }}</p>
      </li>
    </ul>
  </section>
  <nav id="pagination-1" class="line">
    <ul>
      <li class="on"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <footer class="gesturebar line">
    <div class="vote">
      <button class="upVote" title="up vote"></button>
      <button class"downVote" title="down vote"></button>
    </div>
    <button class="comment" title="comment"></button>
  </footer>
</article><!-- /article -->

<article class="missedConnection line">
  <h2 class="title line">{{ title }}</h2>
  <section id="post-2" class="post line">
    <ul class="post-wrap line">
      <li>
        <p>{{ post-body }}</p>
      </li>
    </ul>
  </section>
  <nav id="pagination-2" class="line">
    <ul>
      <li class="on"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </nav>
  <footer class="gesturebar line">
    <div class="vote">
      <button class="upVote" title="up vote"></button>
      <button class"downVote" title="down vote"></button>
    </div>
    <button class="comment" title="comment"></button>
  </footer>
</article><!-- /article -->
