@import url(http://fonts.googleapis.com/css?family=Dosis:300,400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, x-drawers, appbar, messagecenter, newmessages, readmessages, sentmessages, receivedmessages, message, chatconsole, appcanvas, post, slides, slide, pagination, bullets, bullet, gesturebar, vote, utilitybar {
  display: block; }

body {
  line-height: 1; }

a {
  cursor: pointer; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 1px;
  height: 100%;
  overflow: hidden; }

body {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif; }

input, button {
  font-family: 'Dosis', sans-serif; }

a {
  text-decoration: none;
  color: #6b737f; }

/* Set the width of the grid */
.line:before, .line:after {
  height: 0;
  line-height: 0;
  overflow: hidden;
  content: "";
  display: table; }

.line:after {
  clear: both; }

.line {
  *zoom: 1; }

/* Bullshit */
[class*='unit-'] {
  float: left;
  display: inline;
  padding: 5rem; }

[class*='unit-']:last-of-type {
  float: right; }

/* Suck it */
.lastUnit {
  float: none;
  display: block;
  display: table-cell;
  width: 9999rem;
  *width: auto;
  *zoom: 1;
  _position: relative;
  _left: -3rem;
  _margin-right: -3rem; }

/* Yay we suck at life! Bootstrap Baby, Twit Tattoos! */
.size1of1 {
  float: none; }

.size1of2 {
  width: 50%; }

.size1of3 {
  width: 33.33333%; }

.size2of3 {
  width: 66.66666%; }

.size1of4 {
  width: 25%; }

.size3of4 {
  width: 75%; }

.size1of5 {
  width: 20%; }

.size2of5 {
  width: 40%; }

.size3of5 {
  width: 60%; }

.size4of5 {
  width: 80%; }

.hidden {
  display: none; }

.invisible {
  visiblity: hidden; }

.scrollable {
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  transition-property: top, bottom;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: linear, linear; }

.splashOpen {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 1; }

.splashHide {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.7s linear; }

.contentAreaModalUp {
  z-index: 99999; }

h1 {
  font: 16rem/24rem normal 'Dosis', sans-serif; }

h2 {
  font: 16rem/24rem normal 'Dosis', sans-serif; }

p {
  font: 16rem/24rem normal 'Dosis', sans-serif; }

button {
  padding: 10rem;
  border: none;
  background: #fff url(/public/images/x.png) no-repeat center;
  background-size: contain;
  outline: none;
  cursor: pointer; }

.button {
  padding: 10rem;
  font-size: 20rem;
  color: #06192e;
  text-shadow: 1rem 3rem 1rem rgba(0, 0, 0, 0.25);
  text-align: center;
  outline: none;
  border-radius: 3rem 3rem 5rem 5rem;
  box-shadow: inset 0rem 0rem 10rem rgba(0, 0, 0, 0.15);
  background: #d2ff52;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2ff52), color-stop(100%, #91e842));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d2ff52 0%, #91e842 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d2ff52 0%, #91e842 100%);
  /* W3C */
  box-shadow: 0 6rem #3f8401;
  transition: none; }

.button:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s; }

.button:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased; }

.button:hover {
  box-shadow: 0 4rem #3f8401;
  top: 2rem; }

.button:active {
  box-shadow: 0 0 #3f8401;
  top: 2rem; }

span.message {
  font-size: 24rem;
  line-height: 28rem; }

span.alert {
  background: #fdd;
  color: #f00; }

section.forms {
  font-family: 'Dosis', sans-serif;
  font-size: 24rem; }

section.forms .logo img {
  margin-top: 10rem;
  width: 100%;
  padding: 20rem; }

.oauth-entry {
  margin: 0 auto;
  max-width: 340rem;
  text-align: center; }

.form-section {
  font-size: 18rem;
  background: #fff; }

.form-section form {
  width: 100%; }

.form-section input {
  width: 100%;
  padding: 10rem 20rem;
  border: 0;
  border-bottom: 1px solid #ddd;
  background: #fff;
  font-size: 24rem; }

.signup, .form-section button {
  font-size: 24rem;
  padding: 10rem;
  color: #6b737f; }

.sign-up {
  background: #aaa;
  padding: 40rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 25rem 25rem rgba(0, 0, 0, 0.25) inset; }

.sign-up a {
  font-size: 24rem; }

.form-section button {
  position: relative;
  background: #eee;
  border: none;
  line-height: 40rem;
  width: 100%;
  margin-bottom: 0;
  margin-top: 30rem; }

.sm-signup {
  display: inline-block;
  padding: 10rem;
  border-radius: 3rem;
  margin-top: 30rem;
  color: #fff;
  text-transform: uppercase; }

.sm-signup.fb {
  background: #306199; }

.sm-signup.twtr {
  background: #26c4f1; }

.sm-signup .text {
  font-size: 16rem;
  margin: 0 10rem; }

.appBar {
  position: fixed;
  bottom: 0rem;
  z-index: 100;
  width: 100%;
  height: 40rem;
  background: #fff;
  box-shadow: 0rem 0rem 3rem 0rem rgba(0, 0, 0, 0.15); }

.appBarBackground {
  position: absolute;
  width: 100%;
  height: 100%; }

.appBarButton {
  position: absolute;
  display: block;
  height: 30rem;
  width: 30rem; }

.appBarButton .image {
  position: absolute;
  top: 5rem;
  left: 5rem;
  height: 30rem;
  width: 30rem; }

.appBarButtonContainer {
  position: absolute;
  height: 100%;
  width: 100%; }

.appCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff; }

.contentAreaCurrent {
  position: absolute;
  z-index: 100;
  display: block;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding-top: 40rem;
  opacity: 1;
  transform: scale(1, 1);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-delay: 0.66s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99); }

.contentAreaQueueForward {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.6, 0.6); }

.contentAreaQueueBackward {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.06, 1.06); }

.contentAreaBackOut {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.8, 0.8);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99); }

.contentAreaForwardOut {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.06, 1.06);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
  -webkit-transform: scale(1.06, 1.06);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.4s, 0.66s;
  -webkit-transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99); }

.contentAreaOffScreen {
  position: absolute;
  z-index: -1;
  left: 0rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.06, 1.06);
  transition-property: opacity, transform;
  transition-duration: 0.4s, 0.66s;
  transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99);
  -webkit-transform: scale(1.06, 1.06);
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.4s, 0.66s;
  -webkit-transition-timing-function: cubic-bezier(0.16, 1, 0.29, 0.99); }

.contentAreaModalDown {
  position: fixed;
  z-index: 200;
  top: 562rem;
  height: 498rem;
  width: 100%;
  transition: all 0.5s ease-in; }

.contentAreaModalUp {
  position: fixed;
  z-index: 200;
  top: 0rem;
  width: 100%;
  height: 498rem;
  background: rgba(255, 255, 255, 0.75);
  transition: all 0.5s ease-out; }

.missedConnection {
  margin: 0 auto;
  margin-bottom: 20rem;
  width: 95%;
  border: 1rem solid #eaeaea;
  overflow: hidden; }

.missedConnection h2 {
  background: #fafafa;
  padding: 5rem;
  font-size: 18rem;
  font-style: bold;
  border-bottom: 1rem solid #fff; }

.post {
  position: relative;
  overflow: hidden;
  position: relative;
  border-top: 1rem solid #f3f3f3;
  /*font-smoothing: subpixel-antialiased;*/
  transform: translate3d(0, 0, 0); }

.post-wrap {
  position: relative;
  overflow: hidden; }

.post-wrap > li {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 10rem;
  padding: 10rem;
  font: 16rem/24rem normal 'Dosis', sans-serif; }

.post-wrap > li p {
  margin-bottom: 10rem;
  font-size: 16rem; }

.post .comments {
  padding: 10rem;
  font-size: 18rem; }


.comment-box label {
  color: #666; }

.comment-box textarea {
  margin: 0 auto;
  padding: 5rem;
  width: 100%;
  height: 80rem;
  border: 1rem solid #cccccc;
  font: 16rem/24rem normal 'Dosis', sans-serif; }

.comment-box button.submit-comment {
  background: #fafafa;
  background-image: none;
  font-size: 16rem;
  float: right;
  border: 1rem solid #ccc;
  color: #666; }

.gesturebar {
  padding: 10rem;
  border-top: 1rem solid #eaeaea; }

.gesturebar .vote {
  display: inline;
  float: left; }

.gesturebar .vote button:first-child {
  margin-right: 10rem; }

.gesturebar button.comment {
  float: right; }

.navigationDrawerClosed {
  position: fixed;
  left: -260rem;
  width: 260rem;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.navigationDrawerOpen {
  position: fixed;
  left: 0rem;
  width: 260rem;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.navigationDrawerButton {
  position: absolute;
  top: 69rem;
  width: 69rem;
  height: 69rem; }

.navigationDrawerOpen h2, .navigationDrawerClosed h2 {
  padding: 10rem;
  color: #555;
  font: 20rem bold 'Dosis', sans-serif; }

.box-effect {
  position: relative;
  background: #fafafa;
  border: 1rem solid #eee; }

.box-effect:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 65%;
  right: 16rem;
  bottom: 15rem;
  left: auto;
  width: 45%;
  max-width: 300rem;
  height: 1rem;
  box-shadow: 15rem 13rem 7rem #000;
  transform: rotate(3deg); }

#mainContentContainer > *, #mainContentContainerWithDrawerOpen > * {
  transform: translate3d(0, 0, 0); }

#mainContentContainer {
  position: absolute;
  z-index: 100;
  top: 0rem;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding-top: 20rem;
  box-shadow: 5rem 5rem 10rem 7rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

#mainContentContainerWithDrawerOpen {
  position: fixed;
  left: 270rem;
  z-index: 100;
  width: 100%;
  height: 100%;
  box-shadow: 5rem 5rem 10rem 7rem rgba(0, 0, 0, 0.25);
  transition: all 0.5s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.contentPageBackground {
  position: absolute;
  width: 100%;
  height: 562rem; }

.hitArea {
  position: absolute;
  top: 330rem;
  width: 100%;
  height: 130rem; }

#messageCenter {
  position: relative;
  top: 10rem; }

#messageCenter ul li {
  padding: 10rem;
  font: 16rem/24rem normal 'Dosis', sans-serif; }

#messageCenter ul li p:first-child {
  color: #777; }

nav[id^="pagination"] {
  margin: 0 auto 20rem;
  padding: 10rem;
  text-align: center; }

nav[id^="pagination"] ul li {
  display: inline-block;
  float: left;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  background: #666;
  box-shadow: inset 0 1rem 3rem rgba(0, 0, 0, 0.25), 0 0 1rem 1rem #202020;
  margin: 0 2rem;
  cursor: pointer;
  font: 14rem normal 'Dosis', sans-serif;
  text-align: center; }

nav[id^="pagination"] ul li.on {
  box-shadow: inset 0 1rem 3rem -1rem #eee, 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: #eee;
  background-image: linear-gradient(top, #eee, #f1f1f1); }

#utilityBar {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 40rem;
  border-bottom: 1rem solid #eaeaea;
  background: #fff; }

#utilityBar h1 {
  margin-left: 10rem;
  float: left;
  text-align: center;
  font: 16rem normal 'Dosis', sans-serif;
  text-align: center; }

.utilityBarDrawerButton .image {
  position: absolute;
  top: 5rem;
  left: 5rem;
  width: 30rem;
  height: 30rem; }

.utilityBar .button {
  position: absolute;
  width: 50rem;
  height: 20rem;
  font-size: 18rem; }

.utilityBar .buttonClicked {
  position: absolute;
  display: block-inline;
  height: 20rem;
  font-size: 18rem; }

.postTrayClosed {
  position: absolute;
  top: 562px;
  width: 100%;
  height: 333px;
  transition: all 0.7s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.postTrayOpen {
  position: absolute;
  top: 215px;
  width: 100%;
  height: 333px;
  transition: all 0.7s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.postTrayBackground {
  width: 320px;
  height: 333px; }

.postDismissAreaDown {
  position: absolute;
  top: 562px;
  width: 100%;
  height: 0px; }

.postDismissAreaUp {
  position: absolute;
  top: -229px;
  width: 100%;
  height: 232px; }
