{{>header}}

<body id="body" onLoad="initialize();">

  You are user: {{ user._id }}

  <br>

    Your details are: {{ user }}


    <div id="post-display">


    </div>

  <div id="container">
      foo
  </div>

  <br>

  <a href="/logout" class="btn btn-default btn-sm">Logout</a>

  <form>
      <label>Submit</label>
      <textarea id="message-out"></textarea>
      <button id="submit-post" type="button" value="send-post">Post</button>
  </form>

  <!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script> -->


  <script src='public/app.js'></script>

</body>

{{>footer}}
